# Retrieve Adobe Forms service credentials (base URL, OAuth token URL, client ID and secret) 
# from system with `cf service-key <nome-istanza> <nome-chiave>`.
ADOBE_BASEURL=https://<url-dalla-chiave>
ADOBE_TOKEN_URL=https://<uaa.url>/oauth/token
ADOBE_CLIENT_ID=<uaa.clientid>
ADOBE_CLIENT_SECRET=<uaa.clientsecret>